---
import I18nKey from "../../i18n/i18nKey";
import { i18n } from "../../i18n/translation";
import { getCategoryList } from "../../utils/content-utils";
import ButtonLink from "../control/ButtonLink.astro";

const categories = await getCategoryList();
---

<div class="category-list">
    <div class="sidebar-section-title">{i18n(I18nKey.categories)}</div>
    {categories.map((c) => (
        <ButtonLink
            url={c.url}
            badge={String(c.count)}
            label={`View all posts in the ${c.name.trim()} category`}
        >
            {c.name.trim()}
        </ButtonLink>
    ))}
</div>

<style>
    .category-list {
        margin-top: 0;
    }
</style>
